<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="navbar bg-black" id="nav">
      <a class="navbar-brand" href="#">
        <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExdzA3eHI0cDQwOGNzaHFydTRzcGxiMmdkbzBvcjlpc3dnMWV3ZWJybyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/Wt1AywdiqCsFvKqFd7/giphy.gif" alt="popcorn" width="80" height="80">
      </a>
      <div class="text-box">
        <a class="nav-link_1" href=# id="">My Lists</a>
        <a class="nav-link_1" href="#">New Lists</a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
